/* Book Styling */
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 2rem;
  }
  
  .book {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .book img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .book h3 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    color: #333;
  }
  
  .book p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .book:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .featured-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .featured-books .book {
    flex-basis: calc(48% - 10px);
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .featured-books .book:hover {
    transform: translateY(-5px);
  }
  