/* Additional Styling */
/* ... */
/* أنماط الأزرار */
.button {
    display: inline-block;
    background-color: #FFAC33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background-color: #FF9800;
    transform: scale(1.05);
  }
  
  .nav-button {
    background-color: #FFAC33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-button:hover {
    background-color: #FF9800;
  }
  
  .back-button {
    display: inline-block;
    background-color: #1E3A56;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .back-button:hover {
    background-color: #104269;
  }
  
  .contact-button {
    display: inline-block;
    background-color: #FFAC33;
    color: #fff;
    background-color: #FFAC33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-button:hover {
    background-color: #FF9800;
  }
  
  .download-button {
    display: inline-block;
    background-color: #1E3A56;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .download-button:hover {
    background-color: #104269;
  }
  