/* Form Styling */
.contact-form {
    margin-top: 2rem;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }
  
  .contact-form form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #1E3A56;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form button,
  .button {
    display: inline-block;
    background-color: #FFAC33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .contact-form button:hover,
  .button:hover {
    background-color: #FF9800;
    transform: scale(1.05);
  }
  