/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #1E3A56;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #FFAC33;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#login, #logout {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#login:hover, #logout:hover {
  color: #FFAC33;
  text-decoration: underline;
}

/* Additional Styling */
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
